In [2]:
print('hi')

hi

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/raw/hospital_practice_raw.csv") 
#노트북기준으로 데이터파일은 상위폴더 한번 올라가야해
#FileNotFoundError :../data/raw/ 이 부분이 틀린 것
# notebook 폴더 기준 상대경로라는 점 기억

In [3]:
df.head()  #상위5줄 보기

,id,병원명,주소,시도,시군구,위도,경도,병상수,개원일,진료과목
0,1,서울중앙병원,서울시 강남구 테헤란로 123,서울,강남구,37.4981,127.0276,350.0,2001-05-12,내과|외과|정형외과
1,2,한빛의원,서울시 강남구 역삼동 45-3,서울,강남구,37.4995,127.0362,30.0,2015-03-01,내과
2,3,미래병원,경기도 성남시 분당구 정자동 12,경기,성남시,NaN,127.1087,120.0,2010-11-20,내과|신경과
3,4,튼튼정형외과,경기도 성남시 분당구 서현동 78,경기,성남시,37.3845,NaN,45.0,2018-07-09,정형외과
4,5,행복요양병원,경기도 용인시 수지구 죽전동 201,경기,용인시,37.3241,127.0978,280.0,2008-09-30,재활의학과|내과

In [4]:
df.shape #행,열개수 확인

(6, 10)

In [5]:
df.columns #컬럼이름보기

Index(['id', '병원명', '주소', '시도', '시군구', '위도', '경도', '병상수', '개원일', '진료과목'], dtype='object')

❌ 한글 깨짐

pd.read_csv(..., encoding="cp949")

또는

pd.read_csv(..., encoding="utf-8-sig")

In [6]:

#컬럼 정보요약
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6 non-null      int64
 1   병원명     6 non-null      object
 2   주소      6 non-null      object
 3   시도      6 non-null      object
 4   시군구     6 non-null      object
 5   위도      5 non-null      float64
 6   경도      5 non-null      float64
 7   병상수     5 non-null      float64
 8   개원일     6 non-null      object
 9   진료과목    6 non-null      object
dtypes: float64(3), int64(1), object(6)
memory usage: 612.0+ bytes

In [7]:
#숫자 컬럼 기초 통계
df.describe()

             id         위도          경도         병상수
count  6.000000   5.000000    5.000000    5.000000
mean   3.500000  37.443880  127.074080  165.000000
std    1.870829   0.084723    0.038838  143.265488
min    1.000000  37.324100  127.027600   30.000000
25%    2.250000  37.384500  127.036200   45.000000
50%    3.500000  37.498100  127.097800  120.000000
75%    4.750000  37.499500  127.100100  280.000000
max    6.000000  37.513200  127.108700  350.000000

In [10]:
#첫번째 병원 이름 확인 (컬럼명은 예시)
df.iloc[0]

id                     1
병원명               서울중앙병원
주소      서울시 강남구 테헤란로 123
시도                    서울
시군구                  강남구
위도               37.4981
경도              127.0276
병상수                350.0
개원일           2001-05-12
진료과목          내과|외과|정형외과
Name: 0, dtype: object